.DS_Store
.classpath
.project
src/main/java/com/atosworldline/tapestry/components/.tmp_EditContactPage.html.71365~
src/main/java/com/atosworldline/tapestry/components/.tmp_Layout.tml.85095~
src/main/java/com/atosworldline/tapestry/components/.tmp_ListContactPage.html.18462~
src/main/java/com/atosworldline/tapestry/components/.tmp_WelcomePage.tml.67523~
.settings
*.tmp
*.lck
*.log

.gradle
build
target