.DS_Store
.classpath
.project
.settings/.jsdtscope
.settings/org.eclipse.jdt.core.prefs
.settings/org.eclipse.wst.common.component
.settings/org.eclipse.wst.common.project.facet.core.xml
.settings/org.eclipse.wst.jsdt.ui.superType.container
.settings/org.eclipse.wst.jsdt.ui.superType.name
.settings/org.maven.ide.eclipse.prefs
src/main/java/com/atosworldline/tapestry/components/.tmp_EditContactPage.html.71365~
src/main/java/com/atosworldline/tapestry/components/.tmp_Layout.tml.85095~
src/main/java/com/atosworldline/tapestry/components/.tmp_ListContactPage.html.18462~
src/main/java/com/atosworldline/tapestry/components/.tmp_WelcomePage.tml.67523~